#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

/* .player-wrapper {
  width: 100%;
  max-width: 800px;
} */

/* //////// MAIN LAYOUT //////// */
.main-layout{
  display:flex;
  align-items: flex-start;
  gap:16px;
}

/* //////// MAIN VIDEO //////// */
.main-video{
  flex:3;
}

/* //////// SIDEBAR //////// */
.sidebar{
  flex:1.3;
}

/* //////// VIDEOS //////// */

.video-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.video-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.2s ease;
  border-radius: 8px;
  padding: 4px;
}

.video-item:hover {
  background: #000222;
}

.video-item.active {
  background: #333;
  border-left: 3px solid#cc0d00;
}

.video-thumb {
  width: 120px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}

.play-icon{
  color: #ffffff;
  margin: 0 6px ;
  font-size: 12px;
}



